body{
    font-family: arial;
    font-size: 100%;
    color: #050404;
    background: url('picture/gepek.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

header{
    background-color: aliceblue;
}

div#werni{
    background-image: url('picture/Claaslogo.jpg');
    background-repeat: no-repeat;
}

div.dropdown{
    border-color: greenyellow;
    color:rgba(115, 149, 33, 0.931)
}

p{
    background-color: rgba(176, 214, 151, 0.842);
    font-size: medium;
}

h3{
    font-family: "trecbuchet MS";
    text-align: center;
    text-shadow: 2px 2px 2px rgb(150, 207, 16);
}
ul{
    background-size: 20px;
    background-color: #bce7bb;
    background-attachment: fixed;
    color: azure;
    font-weight: bold;
}

a.nav-link.dropdown-toggle{
    color: black;
    font-size: 100%;
    font-weight: bolder;
    background: #84c36be5;
}
a.nav-link{
    color: black;
    font-size: 100%;
    font-weight: bolder;
    background: #84c36be5;
}

a.nav-item.dropdown{
    color:black;
    font-size: 80%;
    background: white;
    padding-bottom: 5px;
}

a.nav-pills{
    background: snow;
    background-attachment: fixed;
    font-weight: bold;
}

a.active{
    background: grey;
    background-attachment: fixed;
    font-weight: 5px;
}
a.dropdown-item{
    color: black;
    padding: 2.5px 15px;
}

div.dropdown-menu.show{
    background: white;
    color: black;
    font-size: 10px arial;
    margin: 1.25px 0px 0px;
    padding: 5px 0px;
}

a:hover{
    background: grey;
    background-attachment: fixed;
    font-weight: 5px;
}

a{
    background: #91d890;
    color: green;
    font-weight: bolder;
    text-decoration: solid;
}