body{
    font-family: arial;
    font-size: 100%;
    color: #050404;
    background: url('picture/gepek.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

header{
    background-color: aliceblue;
}

div#werni{
    background-image: url('picture/Claaslogo.jpg');
    background-repeat: no-repeat;
}

div.dropdown{
    border-color: greenyellow;
    color:rgba(115, 149, 33, 0.931)
}

p{
    background-color: rgba(127, 153, 88, 0.5);
}

h3{
    font-family: "trecbuchet MS";
    text-align: center;
    text-shadow: 2px 2px 2px rgb(150, 207, 16);
}
ul{
    background-size: 20px;
    background-color: #288825;
    background-attachment: fixed;
    color: azure;
    font-weight: bold;
}

a.nav-link.dropdown-toggle{
    color: black;
    font-size: 100%;
    font-weight: bolder;
    background: #b9eea4e0;
}

a.nav-item.dropdown{
    color:black;
    font-size: 80%;
    background: white;
    padding-bottom: 5px;
}

a.nav-pills{
    background: snow;
    background-attachment: fixed;
    font-weight: bold;
}

a.active{
    background: grey;
    background-attachment: fixed;
    font-weight: 5px;
}

a.dropdown-menu.show{
    background-color: #b9eea4e0;
}

a:hover{
    background: grey;
    background-attachment: fixed;
    font-weight: 5px;
}

a{
    color: white;
    font-weight: bolder;
    text-decoration: solid;
}