body{
    background: url('picture/Claaslogo.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}












ul{
    background-size: 20px;
    background-color: #288825;
    background-attachment: fixed;
    color: azure;
    font-weight: bold;
}

a.nav-link.dropdown-toggle{
    color: black;
    font-size: 100%;
    font-weight: bolder;
    background: #b9eea4e0;
}
a.nav-item.dropdown{
    color:black;
    font-size: 80%;
    background: white;
    padding-bottom: 5px;
}
.nav-pills{
    background: snow;
    background-attachment: fixed;
    font-weight: bold;
}
a:hover{
    background: grey;
    background-attachment: fixed;
    font-weight: 5px;
}