
body{
    font-family: arial;
    font-size: 100%;
    color: #050404;
    background: url('picture/axial.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
h1, h2{
    font-family: "trecbuchet MS";
    text-align: center;
    color:aliceblue;
    text-shadow: 2px 2px 2px rgb(40, 48, 22);
}
h5{
    color:aliceblue;
    background:black;
}