body {
    font-family: arial;
    font-size: 100%;
    color: #050404;
    background: url('picture/axial.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    
}
p{
    color: rgb(15, 12, 7);
}
div#wapper{
    background: url('picture/kp.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    padding: 10%;
}
header{
    font-size: 360%;
    font-weight: bold;
    font-family: "trecbuchet MS";
    text-align: center;
    text-shadow: 2px 2px 2px #24630be0;
    color: rgb(248, 250, 248);
    background-color: #288825;
}
h2{
    color: rgb(246, 250, 246);
    background-color: rgba(61, 122, 71, 0.623);
}
h3{
    color: #b9eea4e0;
    background-color: rgba(80, 151, 92, 0.356);
}
p#winro{
    background-color: rgba(80, 151, 92, 0.397);
    color:rgb(255, 255, 255)
}
p{
    font-size: 150%;
    color: ghostwhite;
    background-color: rgba(80, 151, 92, 0.575);
}
h3 span{
    font-size: 70%;
    color:snow;
}
figure{
    background: #559619;
    background-color: #288825;
    padding: 10px;
    margin:0 0 2px 0;
}

figure img{
    max-width: 100%;
    min-width: 100%;
}

ul{
    background-size: 20px;
    background-color: #288825;
    background-attachment: fixed;
    color: azure;
    font-weight: bold;
}

a.nav-link.dropdown-toggle{
    color: black;
    font-size: 100%;
    font-weight: bolder;
    background: #b9eea4e0;
}
a.nav-item.dropdown{
    color:black;
    font-size: 80%;
    background: white;
    padding-bottom: 5px;
}